
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>程序猿糗事 - 程序员，自己的糗事百科</title>
	<meta name="keywords" content="笑话,笑话大全,爆笑笑话,段子,内涵笑话,笑话段子,笑话全集,节操,无底线,幽默笑话,爆笑图片,冷笑话,图片笑话,精选糗事,程序猿糗事,糗事,程序员"/>
	<meta name="description" content="程序猿糗事笑话段子分享社区,在这里你可以发现校园、办公室、家庭中正在发生的形形色色的搞笑糗事,分享身边有内涵的笑话故事。将无节操无底线进行到底。娱乐自己,放松大家,爆笑态度面对生活。"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
    <script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
</head>

<body class="logBg2">
<% include /tags/loginIndexBlock %>

<% include /tags/list %>


<%storyInfos.forEach(function(storyInfo){%>
<div class="QSBox">
    <div class="QSBox-name">
        <a href="/users/<%=storyInfo.author._id%>">
            <% if(storyInfo.author.headImage){%>
                <img src="<%=storyInfo.author.headImage%>" width="40" height="40" />
            <%}else{%>
                <img src="/images/touxiang.jpg" width="40" height="40" />
            <%}%>
            <span><%=storyInfo.author.nickName%></span>
        </a>
        <% if (typeof(userInfo) !== 'undefined') {%>
            <%if(userInfo.isAdmin){%>
                <a href="/admin/indexUpdateVerify?storyInfoId=<%=storyInfo._id%>&approve=1" style="float: right;color: red; ">违规</a>
            <%}%>
        <%}%>

    </div>

    <div class="perQS-txt">
        <p><%=storyInfo.content%></p>
        <%if(storyInfo.image) {%>
            <p><a href="javascript:;"><img src="<%=storyInfo.image%>" width="220" height="261" /></a></p>
        <%}%>
    </div>

    <div class="QSpart">
        <span><i class="QSpartI"><%=storyInfo.positiveFeedbackNum%></i>好笑</span><a href="/storyInfo/<%=storyInfo._id%>" ><i><%=storyInfo.replyNum%></i>回复</a>
    </div>
    <div class="QSpart2">

        <% if (typeof(userInfo) !== 'undefined') {%>
            <span class="QSbq <%if(storyInfo.positiveId.indexOf(userInfo._id)=== -1){%>QSbq1<%}else{%>QSbq1b<%}%>" storyId="<%=storyInfo._id%>" title="<%=storyInfo.positiveFeedbackNum%>个拍"></span>
            <span class="QSbq <%if(storyInfo.negative.indexOf(userInfo._id)=== -1){%>QSbq2<%}else{%>QSbq2b<%}%>" title="<%=storyInfo.negativeFeedbackNum%>个踩" storyId="<%=storyInfo._id%>"></span>
        <%}else{%>
            <span class="QSbq QSbq1" storyId="<%=storyInfo._id%>" title="<%=storyInfo.positiveFeedbackNum%>个拍"></span>
            <span class="QSbq QSbq2" title="<%=storyInfo.negativeFeedbackNum%>个踩" storyId="<%=storyInfo._id%>"></span>
        <%}%>


        <a href="/storyInfo/<%=storyInfo._id%>" class="QSpl" ></a>
    </div>
</div>
<%});%>

<div class="QSmenu clear wrap">
    <% var base_url = base + (base.indexOf('?') < 0 ? '?' : '&') + 'page='; %>

    <% if (current_page == pages) { %>
        <a href="javascript:;" class="QSmenu-next more QSmenu-next2" style="text-decoration: none">下一页</a>
    <% } else { %>
        <a href="<%= base_url%><%=current_page+1%>" style="text-decoration: none" class="QSmenu-next more">下一页</a>
    <% } %>

    <p>
    <% if (current_page == 1) { %>
        <a href="javascript:;" style="text-decoration: none" class="QSmenu-pre QSmenu-pre2">&lt;</a>
    <% } else { %>
        <a href="<%= base_url %><%=current_page-1%>" style="text-decoration: none" class="QSmenu-pre">&lt;</a>
    <% } %>
    <%
        var page_start = current_page - 4 > 0 ? current_page - 2 : 1;
        var page_end = page_start + 4 >= pages ? pages : page_start + 4;
    %>
    <% if (page_start > 1) { %>
        <a href="<%= base_url %>1" style="text-decoration: none" class="QSmenu-num">1</a>
        <span>...</span>
    <% } %>

    <% for(var i = page_start; i <= page_end; i++) { %>
        <% if (i === current_page) { %>
            <a href="javascript:;" class="QSmenu-num current" style="text-decoration: none"><%= i %></a>
        <% } else { %>
            <a class="QSmenu-num" style="text-decoration: none" href='<%= base_url + i %>'><%= i %></a>
        <% } %>
    <% } %>

    <% if (page_end < pages ) { %>
        <span>...</span>
        <a href="<%= base_url + pages%>" style="text-decoration: none" class="QSmenu-num"><%=pages%></a>
    <% } %>
    </p>
</div>

<% include /tags/footer %>

<script>

    /*-----------------------------------------------------*/
    var QSbq1 = $('.QSbq1');
    var QSbq2 = $('.QSbq2');
    <% if (typeof(userInfo) !== 'undefined') {%>
    QSbq1.on('click',function(){
        var i = $(this).closest('.QSBox').find('.QSpartI'); //上面的顶
        var storyId = $(this).attr('storyId');
        var This = this;
        $.ajax({
            type:"POST",
            url:"/storyInfo/getStoryInfoAddPositiveFeedbackCount",
            data:{'storyId':storyId},
            success:function(jsons) {
                if(jsons.success){
                    $(This).removeClass('QSbq1').addClass('QSbq1b');
                    i.html(jsons.positiveFeedbackNum);
                    $(This).attr('title',jsons.positiveFeedbackNum +'个拍');
                }else{
                    alert(jsons.message);
                }

            },
            error:function(jsons){
                alert('数据加载失败,请重试..');
            }
        });
        $(this).unbind();
    });

    QSbq2.on('click',function(){
        var storyId = $(this).attr('storyId');
        var This = this;
        $.ajax({
            type:"POST",
            url:"/storyInfo/getStoryInfoAddNegativeFeedbackCount",
            data:{'storyId':storyId},
            success:function(jsons) {
                if(jsons.success){
                    $(This).removeClass('QSbq2').addClass('QSbq2b');
                    $(This).attr('title',jsons.negativeFeedbackNum +'个踩');
                }else{
                    alert(jsons.message);
                }

            },
            error:function(jsons){
                alert('数据加载失败,请重试..');
            }
        });
        $(this).unbind();
    });
    <%}else{%>

        QSbq1.on('click',function(){
            alert('您还没有登陆，请登陆后操作！');
        });

        QSbq2.on('click',function(){
            alert('您还没有登陆，请登陆后操作！');
        });
    <%}%>

    /*-----------------------------------------------------*/

    var aLi = document.getElementById('navList').children;

    for(var i=0; i<aLi.length; i++){
        aLi[i].index = i;
        aLi[i].onmouseover = function(){
            var oDiv = this.children[1];

            if(!!oDiv)oDiv.style.display = 'block';
        };

        aLi[i].onmouseout = function(){
            var oDiv = this.children[1];

            if(!!oDiv)oDiv.style.display = 'none'
        };
    }

</script>
</body>
</html>

