<!doctype html>
<html>
<head>
    <title>程序猿糗事 - 登陆</title>
	<meta name="keywords" content="笑话,笑话大全,爆笑笑话,段子,内涵笑话,笑话段子,笑话全集,节操,无底线,幽默笑话,爆笑图片,冷笑话,图片笑话,精选糗事,程序猿糗事,糗事,程序员"/>
	<meta name="description" content="程序猿糗事笑话段子分享社区,在这里你可以发现校园、办公室、家庭中正在发生的形形色色的搞笑糗事,分享身边有内涵的笑话故事。将无节操无底线进行到底。娱乐自己,放松大家,爆笑态度面对生活。"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/validator.min.js"></script>
</head>



<body class="logBg">
    <div class="top">
        <div class="wrap clearfix">
            <a href="/users/toReg" class="more">注册</a>
            <a href="/" style="text-decoration: none"><h1>程序猿糗事</h1></a>
        </div>
    </div>
    <div id="logBg-box">
        <form id="loginForm" method="post">
            <div>
                <input type="text" placeholder="用户名" id="userName" name="userName" value="<%= userName %>" class="log-txt log-txt1"/>
                <input type="password" placeholder="密码" id="passwd" name="passwd"  class="log-txt log-txt2" />
                <p id="erroMsg"><%= erroMsg %></p>
                <input type="button" id="loginSubmit" value="" class="log-sub"/>
            </div>
        </form>
    </div>

    <script type="text/javascript">

        $('#loginSubmit').click(function(){
            var userName =  $('#userName').val();
            userName = validator.trim(userName);

            if(userName.length == 0){
                $("#erroMsg").text("用户名不能为空!");
            }else{
                $("#erroMsg").text("");
                var loginPassword = $("#passwd").val();
                if(loginPassword.length == 0){
                    $("#erroMsg").text("密码不能为空!");
                }else{
                    $("#erroMsg").text("");
                    $("#loginForm").attr("action","/users/doLogin");
                    $("#loginForm").submit();
                }
            }
        });
    </script>
</body>
</html>
