<div class="bottom">
    <p>声明:本站是非商业网站,仅供学习和交流,如有侵权请联系：<a style="color: #ffffff" href="mailto:<%=email%>"><%=email%></a></p>
    <p>Copyright © 2012-2015 .All right reserved. <%=beiAnHao%></p>
</div>