<div class="bottom">
    <p>声明:本站是非商业网站,仅供学习和交流,如有侵权请联系：<a style="color: #ffffff" href="mailto:<%=email%>"><%=email%></a></p>
    <p>Copyright © 2012-2015 .All right reserved. <a style="color: #ffffff" href="http://www.miitbeian.gov.cn/" target="_blank"><%=beiAnHao%></a></p>
	<p>
		<a href="http://webscan.360.cn/index/checkwebsite/url/www.ahwangshu.com" target="_blank">
			<img border="0" src="http://img.webscan.360.cn/status/pai/hash/85b70acfca33b6a5cd2d1cfcb41eff79" width="80" height="30"/>
		</a>
		<a href="http://www.aliyun.com/" target="_blank">
			<img border="0" src="/images/aliyun.gif" width="80" height="30" style="background: #fff;"/>
		</a>
		<a href="http://nodejs.org/" target="_blank">
			<img border="0" src="/images/nodejslogo.svg" width="80" height="30"/>
		</a>
		<a href="http://www.mongodb.org/" target="_blank">
			<img border="0" src="/images/logo-mongodb-header.png" width="80" height="30"/>
		</a>
		
	</p>
</div>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F1abccf4186cd70d13e66ee4c020ddcf2' type='text/javascript'%3E%3C/script%3E"));
</script>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"6","bdPos":"right","bdTop":"134.5"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
