<div class="top top2">
    <div class="wrap clearfix">
        <% if (typeof(userInfo) !== 'undefined') {%>
            <ul class="more clear">
                <li class="ie6bug">
                    <a href="/users/<%=userInfo._id%>">
                        <% if(userInfo.headImage){ %>
                            <img src="<%=userInfo.headImage%>" width="25" height="25" /><%=userInfo.userName%>
                        <%}else{%>
                            <img src="/images/ico.png" width="25" height="25" /><%=userInfo.userName%>
                        <%}%>
                    </a>
                </li>
                <li class="ie6bug"><a href="/users/toEdit"><img src="/images/ico2.png" width="25" height="25" />设置</a></li>
                <li><a href="/users/logOut">退出</a></li>
            </ul>
        <%}else{%>
            <ul class="more clear">
               <li><a href="/users/toLogin">登陆</a></li>
               <li><a href="/users/toReg">注册</a></li>
            </ul>
        <%}%>
        <a href="/" style="text-decoration: none"><h1>程序猿糗事</h1></a>
    </div>
</div>